---
import { Image } from "astro:assets";
import CommonLayout from "@layouts/CommonLayout.astro";
import Nosotros1 from "@assets/nosotros1.webp";
import Nosotros2 from "@assets/nosotros2.webp";
import HowStarts1 from "@assets/HowStarts1.webp";
import HowStarts2 from "@assets/HowStarts2.webp";
import HowStarts3 from "@assets/HowStarts3.webp";
import HowStarts4 from "@assets/HowStarts4.webp";
import HowStarts5 from "@assets/HowStarts5.webp";
import HowStarts6 from "@assets/HowStarts6.webp";
import BetoFooter from "@assets/betoFooter.webp";
import BacalarPuerto from "@assets/bacalarPuerto.webp";
import MesoamericarReef from "@assets/mesoamericarReef.webp";
import BeiionProject from "@assets/beiionProject.webp";
import CarbonProject from "@assets/carbonProject.webp";
import BacalarProject from "@assets/bacalarProject.webp";
import TheGreenExpo from "@assets/theGreenExpo.webp";
import Reniecyt from "@assets/reniecyt.webp";
import NavigationHeaderHeader from "@components/NavigationHeader.astro";
import Footer from "@components/Footer.astro";
---

<CommonLayout title="Fundación Frqtal - Nosotros">
    <main>
        <NavigationHeaderHeader />

        <div class="top-images-wrapper">
            <div class="top-images-container">
                <Image
                    class:list={["nosotros1-image", "nosotros-image"]}
                    src={Nosotros1}
                    alt=""
                />
                <Image
                    class:list={["nosotros2-image", "nosotros-image"]}
                    src={Nosotros2}
                    alt=""
                />
            </div>
        </div>

        <div class="nosotros-wrapper">
            <div class="nosotros-left-container">
                <h2 class="text-gradient">¿Quiénes somos?</h2>
            </div>
            <div class="nosotros-right-texts-container">
                <p>
                    A lo largo del mundo, existen grandes mentes en busca de
                    soluciones para problemas importantes. La <b
                        class="text-gradient">Fundación Frqtal</b
                    >
                    es una iniciativa creada en 2020 con el propósito de generar
                    e impulsar estas soluciones. Logramos este objetivo conectando
                    a los stakeholders necesarios, como empresas, artistas y científicos.
                    Este movimiento cuenta con el respaldo de personas como tú y
                    de empresas que creen en nuestro manifiesto.
                </p>
                <p>
                    <b class="text-gradient">¿Por qué lo hacemos?</b> Creemos que
                    la colaboración entre grandes mentes y capitales es la mezcla
                    perfecta para desarrollar soluciones a los problemas más grandes
                    de la civilización.
                </p>
                <p>
                    <b class="text-gradient">¿Cómo lo hacemos?</b> Analizamos, conectamos
                    y experimentamos. Evaluamos iniciativas en áreas como investigación,
                    comunidades vulnerables, clima y medio ambiente, fauna, blockchain
                    y educación. A través de esta evaluación, fomentamos la colaboración
                    con los creadores de las iniciativas, mejoramos sus procesos
                    y los conectamos con una red de capital, artistas y científicos
                    que puedan sumarse al proyecto.
                </p>
                <p>
                    <b class="text-gradient">¿Qué hacemos?</b> Somos una plataforma
                    social que conecta, supervisa y recauda capital para iniciativas
                    sociales valiosas, promoviendo la sostenibilidad de las donaciones
                    mediante herramientas de farming. Al mismo tiempo, buscamos que
                    cada iniciativa sea autosustentable.
                </p>

                <a href="https://frqtal.gitbook.io/frqtal-foundation/" ><div class="action-button-secondary">Ver más →</div></a>
            </div>
        </div>

        <div class="manifesto-wrapper">
            <div class="manifesto-left-container">
                <h2 class="text-gradient">Manifesto</h2>
            </div>
            <div class="manifesto-right-texts-container">
                <p>
                    En un mundo cada vez más conectado, nos negamos a aceptar
                    los límites impuestos por la sociedad y nuestra propia
                    mente. Creemos que solo cuando nos atrevemos a desafiar lo
                    imposible, alcanzamos nuestro verdadero potencial.
                </p>
                <p>
                    Empujamos los límites de lo conocido, exploramos nuevos
                    territorios y descubrimos nuevas fronteras. Creemos en la
                    colaboración y en el trabajo duro. Somos independientes y no
                    nos dejamos influenciar por ideologías políticas, intereses
                    económicos, religión ni género. Valoramos la diversidad de
                    ideas y perspectivas, porque reconocemos que la verdadera
                    innovación surge de la colaboración descentralizada.
                </p>
                <p>
                    En este viaje, nos unimos en busca de un mundo donde todos
                    puedan prosperar y expresarse libremente. Nos esforzamos por
                    construir comunidades sólidas y equitativas, donde cada
                    individuo tenga la oportunidad de brillar. Juntos,
                    desafiamos los límites establecidos y creamos un futuro
                    lleno de posibilidades ilimitadas.
                </p>
            </div>
        </div>

        <div class="how-it-starts-wrapper">
            <div class="how-it-starts-left-container">
                <h2 class="text-gradient">¿Cómo empezó todo?</h2>
                <h4 class="text-gradient">Año 2017</h4>
            </div>
            <div class="how-it-starts-right-texts-container">
                <p>
                    En un mundo cada vez más conectado, nos negamos a aceptar
                    los límites impuestos por la sociedad y nuestra propia
                    mente. Creemos que solo cuando nos atrevemos a desafiar lo
                    imposible, alcanzamos nuestro verdadero potencial.
                </p>
                <p>
                    Empujamos los límites de lo conocido, exploramos nuevos
                    territorios y descubrimos nuevas fronteras. Creemos en la
                    colaboración y en el trabajo duro. Somos independientes y no
                    nos dejamos influenciar por ideologías políticas, intereses
                    económicos, religión ni género. Valoramos la diversidad de
                    ideas y perspectivas, porque reconocemos que la verdadera
                    innovación surge de la colaboración descentralizada.
                </p>
                <p>
                    En este viaje, nos unimos en busca de un mundo donde todos
                    puedan prosperar y expresarse libremente. Nos esforzamos por
                    construir comunidades sólidas y equitativas, donde cada
                    individuo tenga la oportunidad de brillar. Juntos,
                    desafiamos los límites establecidos y creamos un futuro
                    lleno de posibilidades ilimitadas.
                </p>

                <div class="how-it-starts-images-container">
                    <div>
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts1}
                            alt=""
                        />
                        <div class="image-text-container">
                            <p>
                                Apertura de las primeras oficinas en la ciudad
                                de Puebla.
                            </p>
                        </div>
                    </div>
                    <div>
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts2}
                            alt=""
                        />
                        <div class="image-text-container">
                            <p>
                                El primer borrador de lo que hoy en día es la
                                iniciativa.
                            </p>
                        </div>
                    </div>
                    <div class="two-images-container">
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts3}
                            alt=""
                        />
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts4}
                            alt=""
                        />
                    </div>
                    <div>
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts5}
                            alt=""
                        />
                        <div class="image-text-container">
                            <p>
                                Establecimiento de alianzas estratégicas con
                                grandes actores.
                            </p>
                        </div>
                    </div>
                    <div>
                        <Image
                            class="how-it-starts-image"
                            src={HowStarts6}
                            alt=""
                        />
                        <div class="image-text-container">
                            <p>
                                Inicio de relaciones institucionales formales
                                con universidades, centros de investigación y
                                aceleradoras.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects-2017-wrapper">
            <div class="projects-2017-left-container">
                <h2 class="text-gradient">Alianzas y proyectos</h2>
                <h4 class="text-gradient">Año 2017</h4>
            </div>
            <div class="projects-2017-right-texts-wrapper">
                <div class="project-image-container">
                    <div class="project-image-info-container">
                        <div class="project-image-badge-container">
                            <p>Proyecto</p>
                        </div>

                        <p class="project-image-text-container">
                            Beiion Labs, el primer laboratorio opensource,
                            descentralizado
                        </p>
                    </div>

                    <Image class="projects-image" src={BeiionProject} alt="" />
                </div>
                <div class="projects-2017-right-texts-container">
                    <p>
                        <b class="text-gradient">Beiion Solutions</b> se une como
                        un centro de investigación descentralizado, donde todo desarrollo
                        tecnológico no pertenecerá a una sola empresa, sino al mundo
                        entero.
                    </p>
                    <p>
                        De allí surge nuestra inspiración para integrar la
                        tecnología como un pilar central. Hemos aprendido que
                        cualquier avance tecnológico en un proyecto puede
                        convertirse en una ventaja competitiva clave para
                        alcanzar el éxito.
                    </p>
                    <p>
                        Creemos firmemente que la humanidad progresa con la
                        tecnología, ya que esta impulsa el desarrollo de las
                        sociedades, transformando sus costumbres y hábitos.
                    </p>
                    <p>
                        Por ejemplo, gracias al foco y la electricidad, la
                        humanidad ha podido extender sus actividades más allá
                        del anochecer, permitiendo trabajar y disfrutar de su
                        tiempo libre durante más horas. Hace apenas 200 años,
                        esto era impensable.
                    </p>
                </div>
                <div class="projects-2017-subpublication-container">
                    <div class="projects-2017-subpublication">
                        <Image
                            class="subpublication-image"
                            src={TheGreenExpo}
                            alt=""
                        />
                        <div class="projects-2017-subpublication-texts">
                            <h6>Expo Enverdecer</h6>
                            <p class="subpublication-description">
                                Conferencia en el evento Green Expo sobre
                                'Nuevos materiales en la construcción y
                                nanotecnología'.
                            </p>
                        </div>
                    </div>
                    <div class="projects-2017-subpublication">
                        <Image
                            class="subpublication-image"
                            src={Reniecyt}
                            alt=""
                        />
                        <div class="projects-2017-subpublication-texts">
                            <h6>Reniecyt</h6>
                            <p class="subpublication-description">
                                BEIION se registra como centro de investigación
                                en RENIECYT con el número de registro 1701711.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects-2017-wrapper">
            <div class="projects-2017-left-container">
                <h2 class="text-gradient">Alianzas y proyectos</h2>
                <h4 class="text-gradient">Año 2021</h4>
            </div>
            <div class="projects-2017-right-texts-wrapper">
                <div class="project-images-container">
                    <div class="project-image-container">
                        <div class="project-image-info-container">
                            <div class="project-image-badge-container">
                                <p>Proyecto</p>
                            </div>

                            <p class="project-image-text-container">
                                Bacalar, un banco de carbono en México
                            </p>
                        </div>

                        <Image
                            class="projects-image"
                            src={BacalarProject}
                            alt=""
                        />
                    </div>
                    <div class="project-image-container">
                        <div class="project-image-info-container">
                            <div class="project-image-badge-container">
                                <p>Proyecto</p>
                            </div>

                            <p class="project-image-text-container">
                                Carbon Foundation, tokenizando zonas protegidas
                            </p>
                        </div>

                        <Image
                            class="projects-image"
                            src={CarbonProject}
                            alt=""
                        />
                    </div>
                </div>
                <div class="projects-2017-right-texts-container">
                    <p>
                        Se inicia formalmente la iniciativa, un proyecto
                        enfocado en cumplir con las normativas de los países
                        donde opera la <b class="text-gradient"
                            >Fundación Frqtal</b
                        >, comenzando sus operaciones en LATAM.
                    </p>
                    <p>
                        • Se adquiere la <b class="text-gradient"
                            >Fundación Alianzas Rosalico A.C.</b
                        >, con registros como donataria autorizada y proyectos
                        en marcha, convirtiéndose en la primera estructura de la
                        iniciativa.
                    </p>
                    <p>
                        • Se elaboran los planes anuales para la Protección del
                        Medio Ambiente y la Investigación y Desarrollo.
                    </p>
                    <p>
                        • Se desarrolla un sistema de tokenización para la
                        protección y conservación de flora y fauna, denominado <b
                            class="text-gradient">The Carbon Foundation.</b
                        >
                    </p>
                </div>
                <div class="projects-2017-subpublication-container">
                    <div class="projects-2017-subpublication">
                        <Image
                            class="subpublication-image"
                            src={BacalarPuerto}
                            alt=""
                        />
                        <div class="projects-2017-subpublication-texts">
                            <h6>
                                Se lleva a cabo la primera limpieza lagunar en
                                Bacalar
                            </h6>
                            <p class="subpublication-description">
                                En colaboración con el Municipio de Bacalar y su
                                Dirección de Ecología.
                            </p>
                        </div>
                    </div>
                    <div class="projects-2017-subpublication">
                        <Image
                            class="subpublication-image"
                            src={MesoamericarReef}
                            alt=""
                        />
                        <div class="projects-2017-subpublication-texts">
                            <h6>
                                La importancia de los estromatolitos en el
                                ecosistema
                            </h6>
                            <p class="subpublication-description">
                                Exploraremos la importancia de la protección y
                                preservación de los estromatolitos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects-2017-wrapper">
            <div class="projects-2017-left-container">
                <h2 class="text-gradient">Fundación Frqtal</h2>
                <h4 class="text-gradient">Año 2021</h4>
            </div>
            <div class="projects-2017-right-texts-wrapper">
                <div class="project-image-container">
                    <div class="project-image-info-container">
                        <div></div>
                        <p class="project-image-small-text-container">
                            En 2022, Beeto Qeeq y Saul Sama, socios de Frqtal,
                            discutieron cómo podría diseñarse un sistema de
                            votaciones enfocado en abordar el cambio climático.
                        </p>
                    </div>

                    <Image class="projects-image" src={BetoFooter} alt="" />
                </div>
                <div class="projects-2017-right-texts-container">
                    <p>
                        Gracias al boom tecnológico y a las posibilidades que el
                        desarrollo de blockchain ha traído al mundo, se ha
                        comenzado a desarrollar desde sus inicios un protocolo
                        enfocado en administrar los proyectos de la fundación de
                        forma descentralizada, así como en controlar las
                        decisiones mediante votaciones, como una DAO.
                    </p>
                </div>
                <a href="https://frqtal.gitbook.io/frqtal-foundation/" ><div class="action-button-secondary">Ver más →</div></a>
            </div>
        </div>


        <Footer />
    </main>
</CommonLayout>

<style>
    .action-button-secondary {
		/* background-color: purple; */
		padding: 0.4rem 1rem;
		border-radius: 9999px;
		width: fit-content;
		font-weight: var(--font-weight-semi-bold);
		margin-top: 1.5rem;
		border: 0.03125rem solid #70698769;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(1.333rem);
		-webkit-backdrop-filter: blur(1.333rem);
		box-shadow:
			0 8px 16px rgba(0, 0, 0, 0.3),
			inset 0 0 10px rgba(255, 255, 255, 0.1);
	}
    .project-images-container {
        display: flex;
        column-gap: 0.7rem;
    }
    .project-image-text-container {
        font-size: var(--font-size-m);
    }
    .project-image-small-text-container {
        font-size: var(--font-size-xs);
    }
    .project-image-badge-container {
        width: fit-content;
        border: 0.0625rem solid rgb(232, 8, 236);
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1.333rem);
        -webkit-backdrop-filter: blur(1.333rem);
        box-shadow:
            0 8px 16px rgba(0, 0, 0, 0.3),
            inset 0 0 10px rgba(232, 8, 236, 0.5);
        display: flex;
        column-gap: 0.5rem;
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-semi-bold);
        border-radius: 9999px;
        padding: 0.3rem 0.6rem;
    }
    .project-image-info-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: +999;
        padding: 1rem 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-image-container {
        position: relative;
        border: 0.03125rem solid #70698769;
        border-radius: 0.8rem;
        overflow: hidden;
    }
    .project-image-container::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 100%
        );
        pointer-events: none;
    }
    .projects-2017-subpublication-texts {
        display: flex;
        flex-direction: column;
        row-gap: 0.3rem;
    }
    .subpublication-description {
        font-size: var(--font-size-xs);
    }
    .projects-2017-subpublication-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        margin-top: 0.5rem;
    }
    .subpublication-image {
        width: 5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: calc(0.8rem / 2);
    }
    .projects-2017-subpublication {
        background-color: white;
        border-radius: 0.8rem;
        overflow: hidden;
        display: flex;
        color: black;
        padding: 0.5rem;
        padding-right: 0.7rem;
        column-gap: 0.7rem;
        align-items: center;
    }
    .projects-image {
        object-fit: cover;
        width: 100%;
        height: 18rem;
        border-radius: 0.8rem;
    }
    .two-images-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .how-it-starts-image {
        object-fit: cover;

        border-radius: 0.8rem;
        border: 0.03125rem solid #70698769;
        /* align-self: center;
        justify-self: center; */
    }
    .how-it-starts-images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        column-gap: 0.8rem;
        row-gap: 1.2rem;
    }
    .image-text-container {
        padding: 0.5rem 0.3rem;
        font-size: var(--font-size-xs);
    }
    .top-images-container {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        grid-template-rows: 22rem;
        border-radius: 0.8rem;
        border: 0.03125rem solid #70698769;
        overflow: hidden;
    }
    .nosotros-image {
        object-fit: cover;
        height: 100%;
    }
    .top-images-wrapper {
        padding: 3rem 2.8rem;
        padding-top: 6.8rem;
    }
    .nosotros-wrapper {
        display: grid;
        column-gap: 2.8rem;
        row-gap: 0.7rem;
        grid-template-columns: 0.6fr 1fr;
        padding: 3rem 2.8rem;
    }
    .nosotros-left-container {
        position: sticky;
        top: 6.8rem;
        align-self: self-start;
    }
    .nosotros-right-texts-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        font-size: var(--font-size-s);
    }

    .manifesto-wrapper {
        display: grid;
        column-gap: 2.8rem;
        row-gap: 0.7rem;
        grid-template-columns: 0.6fr 1fr;
        padding: 3rem 2.8rem;
    }
    .manifesto-left-container {
        position: sticky;
        top: 6.8rem;
        align-self: self-start;
    }
    .manifesto-right-texts-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        font-size: var(--font-size-s);
    }

    .projects-2017-right-texts-container {
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        font-size: var(--font-size-s);
    }
    .projects-2017-wrapper {
        display: grid;
        column-gap: 2.8rem;
        row-gap: 0.7rem;
        grid-template-columns: 0.6fr 1fr;
        padding: 3rem 2.8rem;
    }
    .projects-2017-left-container {
        position: sticky;
        top: 6.8rem;
        align-self: self-start;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .projects-2017-right-texts-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        font-size: var(--font-size-s);
    }

    .how-it-starts-wrapper {
        display: grid;
        column-gap: 2.8rem;
        row-gap: 0.7rem;
        grid-template-columns: 0.6fr 1fr;
        padding: 3rem 2.8rem;
    }
    .how-it-starts-left-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        position: sticky;
        top: 6.8rem;
        align-self: self-start;
    }
    .how-it-starts-right-texts-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        font-size: var(--font-size-s);
    }

    @media (max-width: 720px) {
        .how-it-starts-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
        }
        .projects-2017-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
        }
        .manifesto-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
        }
        .nosotros-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: min-content;
        }
        .nosotros-left-container {
            position: relative;
            top: 0;
        }
        .manifesto-left-container {
            position: relative;
            top: 0;
        }
        .projects-2017-left-container {
            position: relative;
            top: 0;
        }
        .how-it-starts-left-container {
            position: relative;
            top: 0;
        }
    }
</style>
